<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Document metadata -->
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
</head>
<body>
	<!-- Document content -->
	<div class="container my-2" align="center">

		<div class="page-header">
			<h1>Admin panel</h1>
		</div>
		<div style="margin-bottom: 20px">
			<ul class="nav nav-pills">
				<li class="nav-item"><a class="nav-link" href="./">Back</a></li>
				<li class="nav-item"><a class="nav-link" href="addRestaurant">Add Restaurant</a></li>
				<li class="nav-item"><a class="nav-link" href="pendingReviews" th:text="${'Pending Reviews' + '(' + pendingCount + ')'}"></a></li>
			</ul>
		</div>
		<div th:if="${message}" th:text="${message}"
			th:class="${'alert ' + alertClass}"></div>
		<div align="center">
		<div class="mb-2"><strong>User List</strong></div>
			<table class="table table-striped table-bordered table-responsive-md"
				border="1">
				<thead align="center">
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>City</th>
						<th>State</th>
						<th>Zip Code</th>
						<th>Peanut</th>
						<th>Egg</th>
						<th>Dairy</th>
						<th>Remove</th>
					</tr>
				</thead>
				<tbody align="center">
					<tr th:each="User : ${userslist}">
						<td th:text="${User.id}"></td>
						<td th:text="${User.name}"></td>
						<td th:text="${User.city}"></td>
						<td th:text="${User.state}"></td>
						<td th:text="${User.zipcode}"></td>
						<td th:if="${User.peanutInterested} == true" style="color: green">Yes</td>
						<td th:if="${User.peanutInterested} == false" style="color: red">No</td>
						<td th:if="${User.eggInterested} == true" style="color: green">Yes</td>
						<td th:if="${User.eggInterested} == false" style="color: red">No</td>
						<td th:if="${User.dairyInterested} == true" style="color: green">Yes</td>
						<td th:if="${User.dairyInterested} == false" style="color: red">No</td>
						<td><a th:href="@{/deleteUser/{id}(id=${User.id})}"
							class="btn btn-danger">Delete</a></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div class="footer" align="center">
		<p>Author: Radosław Kucharski</p>
		<a href="https://github.com/KucharskiR">GitHub</a>
	</div>

</body>

</html>